<div id="progress"></div>

<script>
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'progress'
		},
		title: {
			text: 'Progress'
		},
		subtitle: {
			text: '(story points)'
		},
		tooltip: {
			formatter: function() {
				return '<b>'+ this.point.name +'</b>: '+ this.y;
			}
		},
		plotOptions: {
			pie: {
				cursor: 'pointer',
				dataLabels: {
					enabled: true,
					formatter: function() {
					  valueDecimals: 0
						return '<b>'+ this.point.name +'</b>: '+ this.y;
					}
				}
			}
		},
		series: [{
			type: 'pie',
			data: [
			  ['In Progress', <%= @in_progress.sum('points') %>],
			  ['To Do', <%= @to_do.sum('points') %>],		
				['Done', <%= @done.sum('points') %>],
				['In QA', <%= @in_qa.sum('points') %>]
			]
		}]
	});
});
</script>