<div id="progress"></div>

<script>
var chart;
$(document).ready(function() {
	chart = new Highcharts.Chart({
		chart: {
			renderTo: 'progress',
			type: 'column'
		},
		title: {
			text: 'Progress'
		},
		subtitle: {
			text: '(story points)'
		},
		legend: {
      enabled: false
    },
    xAxis: {
      categories: ['Backlog','In Progress','In QA','Done']
    },
    yAxis: {
      title: {
        text: ''
      }
    },			
		series: [{
		  name: 'Points',
			data: [
		    ['To Do', <%= @to_do.sum('points') %>],		
			  ['In Progress', <%= @in_progress.sum('points') %>],
				['In QA', <%= @in_qa.sum('points') %>],      
				['Done', <%= @done.sum('points') %>]
			]
		}]
		
	});
});
</script>