  <div class="row-fluid">
  <div class="span8">
    <div class="well ">
      <div class="progress progress-striped <%= @progress_status %>">
        <div class="bar " style="width: <%= @sprint_progress %>%"><%= @sprint_progress.to_i %>%</div>
      </div>
      <%= render 'burndown' %>
    </div>
  </div>
  <div class="span4">
    <div class="well">hello</div>
  </div>
</div>


