<div class="modal hide" id="aboutSprinter">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Sprinter</h3>
  </div>
  <div class="modal-body">
    <p>Version: <%= APP_VERSION %></p>
    <p>Sprinter is designed to be a usefule sprint monitoring tool.</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>